<!DOCTYPE html>
<html>
   	<head>
		<title>Lokasi parkir</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color:grey;">
      </br></br></br>
      <center>
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-4"></div>
               <div class="col-sm-4">
           	 	  <p>
                  <div class="panel panel-default" align="left">
                     <div class="panel-heading"><h3>Lokasi Parkir</div>
                     <div class="panel-body">
                        <br>
                        <form action = "login" method="POST">
                           <div class="form-group">
                              <input type="radio" name="loc" value="1" checked> Parkiran Sipil<br>
                              <input type="radio" name="loc" value="2" checked> Parkiran SR<br>
                              <input type="radio" name="loc" value="3" checked> Parkiran Saraga<br>
                              </br>
                              <button type="submit" class="btn btn-default">Login</button>
                           </div>
                        </form>
                     </div>
                  </div>
               <div class="col-sm-4"></div>
      </center>
   </body>
</html>